{{#modal-form create="updateTask" cancel="cancelUpdate" closeModal="closeModal"}}
  <p>Edit task: '{{model.name}}'</p>
  <div>Description: {{textarea value=model.description type="textarea"}}</div>
{{/modal-form}}
